<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='hero'>
    <nav class="navbar navbar-default">

      <div class="container">

        <div class="navbar-header">
          <%= link_to "Book Club", root_path, class: "brand"%>
        </div>

          <ul class="nav navbar-nav">
            <li><%= link_to "Sign Up", users_path %></li>
            <% if current_user %>
              <li><%= link_to "Sign Out", session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log In", new_session_path %></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" > Genres <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% Category.all.each do |Category| %>
                    <li><% Category.name, books_path(category: category.name) %></li>
                  <% end %>
                </ul>
            </li>

      </div>

    


      # <% if current_user %>
      #   <%= link_to current_user.username, user_path(current_user) %>
      #   <%= button_to 'Log Out', session_path, method: :delete %>
      # <% end %>

      <% if flash[:notice].present? %>
        <div class="notice">
        <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:error].present? %>
        <div class="errors">
        <b>Errors:</b>
        <%= flash[:error] %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
